:root{
    --primary-color-1: #F0E4D3;
    --primary-color-2: #DAD0C2;
    --primary-color-3: #C4B7A5;
    --accent-color-1: #3A4873;
}
/*Overall page structure*/
html{
    height: 100%;
}

body{
    min-height: 100%;
    background-color: var(--primary-color-3);
    margin: 0;
    /*This helps ensure the page is flexible
    regardless of viewport height*/
    display: flex;
    flex-direction: column;
}

.page-container{
    margin: 0 auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
}
 
main, header, footer{
    width: 100%;
}

main{
    background-color: var(--primary-color-1);
    align-items: center;
    padding: 92px 0px;
    /*main content grows with the size of the viewport*/
    flex-grow: 1;
}

header, footer{
    background-color: var(--primary-color-2);
    min-height: 92px;
}

/*header styling*/
header{
    position: sticky;
    top: 0px;
}
header > nav{
    min-height: 92px;
}
header > nav > ul{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 24px;

    max-width: 288px;
    min-height: 92px;

    display: flex;
    gap:64px;
    align-items: center;
}
header > nav > ul > li{
    list-style: none;
    cursor: pointer;
    font-family: 'Roboto Mono', monospace;
    font-size: 24px;
    font-weight: 700;
}
header > nav > ul > li:hover,
header > nav > ul > li > a:focus{
    color: var(--accent-color-1);
}
/*style reset for navbar links*/
header > nav > ul > li > a{
    color: inherit;
    text-decoration: none;
}

/*footer styling*/
footer > .contact-section{
    padding: 24px 24px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    column-gap: 32px;
}

.contact-section > h1{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.contact-section > .contact-me-message{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.contact-section > .contact-details{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}


/*Text*/
h1{
    font-family: 'Roboto Mono';
    font-weight: 700;
    margin-top: 0px;
}

.about-me-section > h1{
    margin-bottom: 24px;
}

.project-section > h1{
    font-size: 32px;
    margin-bottom: 48px;
}

p, .contact-section > .contact-me-message,
.contact-section > .contact-details{
    font-family: 'Roboto';
    font-weight: 400;
    line-height: 1.6;
    margin-top: 0px;
}

.project-container > .project-note{
    max-width: 288px;
    box-sizing: border-box;
    padding: 0px 12px;
    margin-top: 12px;
    margin-bottom: 0px;
}

/*flex columns*/
main, .about-me-section, .project-section, .project-list{
    display: flex;
    flex-direction: column;
}
/*page sections*/
.about-me-section{
    padding: 12px;
    margin-bottom: 48px;
    align-items: center;
}

.about-me-section > img{
    margin: 0 auto;
    margin-bottom: 32px;
}

.about-me-section > p{
    max-width: 288px;
}


.project-section{
    padding: 12px;
    width: 100%;
    align-items: center;
}

/*project thumbnails*/
.project-container{
    margin-bottom: 64px;
}

.project-container > img{
    box-sizing: border-box;
    border: solid black 3px;
    border-radius: 10px;

    width: 288px;
    height: 176px;
    object-fit: fill;
}

/*Pet Carousel styling*/
.project-container > .frame-container{
    box-sizing: border-box;
    border: solid black 3px;
    border-radius: 10px;
    width: 288px;
    height: 176px;
    overflow: hidden;
}

.project-container > .frame-container > .frame > img{
    width: 288px;
    height: 176px;
    object-fit: fill;
}

.project-container > .frame-container > .frame{
    display: flex;
    animation-name: animate-pet-carousel;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

@keyframes animate-pet-carousel{
    /*transition animations last 5% of the animation-duration*/
    /*the frame stays still for 20% of the animation-duration*/
    from, 20%{
        transform: translateX(0%);
    }
    25%, 45%{
        transform: translateX(-288px)
    }
    50%, 70%{
        transform: translateX(calc(-288px * 2))
    }
    75%, 95%{
        transform: translateX(calc(-288px * 3))
    }
    to{
        transform: translateX(0%);
    }
}

.project-container > .project-data{
    display: flex;
    justify-content: space-between;
    padding: 0px 12px;
    margin-top: 8px;
}

.project-container > .project-data > .project-name{
    font-family: 'Roboto Mono';
    font-weight: 700;
}

.project-container > .project-data > .links{
    display: flex;
    gap: 16px;
}

.project-container > .project-data > .links > a:hover > svg,
.project-container > .project-data > .links > a:focus > svg{
    fill: var(--accent-color-1);
}


