/*Tablets*/
@media (min-width: 768px){
    .page-container{
        width: 100%;
    }
    /*header alignment*/
    header > nav > ul{
        padding: 0px;
        /*instead of making the navbar look smaller, on a larger screen, we can give the navbar more breathing room*/
        min-width: calc(668px + 24px);
    }

    .about-me-section{
        display: grid;
        grid-template-columns: min-content max-content;
        grid-template-rows: auto auto;
        column-gap: 48px;
        
        /*aligning the about-me-section with the navbar*/
        min-width: 668px;
        align-self: flex-start;
        margin: 0px auto 92px auto;
    }
    .about-me-section > img {
        margin-bottom: 0px;
        grid-column: 1 / 2;
        grid-row: 1 / 3;
    }
    .about-me-section > h1{
        margin-bottom: 0;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    .about-me-section > p {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    .project-section{
        gap: 64px;
    }

    .project-section > h1{
        font-size: 48px;
    }

    .project-section > h1, 
    .project-section > .project-list > .project-container{
        margin-bottom: 0px;
    }

    .project-list{
        display: grid;
        grid-template-columns: repeat(2, auto);
        column-gap: 92px;
        row-gap: 92px;
    }

    .project-container > .project-data{
        margin-top: 12px;
    }

    .project-container > .project-data > .project-name{
        font-size: 20px;
    }

    .project-container > .project-data > .links{
        display: flex;
        gap: 16px;
    }

    .project-container > .project-data > .links > *{
        height: 28px;
    }
}

/*Desktop*/
@media (min-width: 1200px){
    .page-container{
        max-width: 1200px;
    }
    /*header alignment*/
    header > nav > ul{
        padding: 0px;
        /*instead of making the navbar look smaller, on a larger screen, we can give the navbar more breathing room*/
        min-width: calc(968px + 12px);
    }
    /*aligning the about-me-section with the header*/
    .about-me-section{
        /*aligning the about-me-section with the navbar*/
        min-width: calc(968px + 12px);
        align-self: flex-start;
        margin: 0px auto 92px auto;
    }
    .project-list{
        display: grid;
        grid-template-columns: repeat(3, auto);
        column-gap: 52px;
        row-gap: 92px;
    }
}
